.about-section {
  background-color: #4485ee;
  padding: 20px;
  color: white;
}
.about-image {
  background-image: url("https://images.unsplash.com/photo-1546885692-8e7c1b59da2c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 380px;
  width: 100%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 30px;
}
.about-image p {
  margin: 0;
}
.about-text {
  margin: 20px 100px 100px 100px;
  background-color: white;
  color: black;
  text-align: left;
  padding: 15px;
}
.about-text div {
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .about-text {
    margin: 0;
    flex-wrap: wrap;
  }
  .about-section {
    flex-wrap: wrap;
  }
  .about-image {
    height: 100% !important;
  }
  #root {
    overflow-x: hidden;
  }
  .about-count {
    width: 50%;
  }
}
.about-text img {
  height: 180px;
  width: 165px;
  margin: 0px;
}
